html body{
	padding: 0px;
	margin: 0px;
	background-color: #222222;
	min-height: 100vh;
}

nav{
	padding-right: 1em;
	padding-left: 1em;
	background-color: #1e1e1e;
	font-family: 'Press Start 2P', cursive;
}

.navButtons{
	padding: 0.5em 0px 0px 0px;
	height: 100%;
	width: auto;
	align-content: right;
}

.navButtons a{
	color: #006EFF;
	font-size: 18px;
	text-decoration: none;
}

.navButtons li{
	display: inline-block;
	padding: 0px 0.3em
}

.navbar{
	color: #ffffff;
	text-decoration: none;
}

.container{
	display: block;
	text-align: center;
	justify-content: center;
/*	height: 100%;
	width: 100%;*/
}

.container h3{
	padding-top: 1.5em;
	color: #ffffff;
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
}

.container h5{
	padding-top: 1.5em;
	padding-bottom: 6em;
	color: #4f4f4f;
	font-family: 'Press Start 2P', cursive;
}

.pic{
	margin: auto;
	width: 13em;
	height: 13em;
	border-radius: 10em;
}

.wrapper{
	display: inline-block;
}

.wrapper i{
	transform: scale(2.5);
	margin: 1.2em;
	color: #ffffff;
}

.cardWrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.card{
	background-color: #006EFF !important;
	margin-top: 10%;
	height: 15em;
	width: 15em;
	border-radius: 10em !important;
	color: #006EFF;
	font-family: 'Press Start 2P', cursive;
}
.card img{
	height: 15em;
	width: 15em;
	border-radius: 10em !important;
	border: 3px solid #006EFF;
	transition: 0.3s;
}

.card img:hover{
	filter: brightness(30%);
	transform: scale(1.1);
}

.center_writeups{
	font-family: 'Press Start 2P', cursive;
	margin-top: 1.5em;
	text-align: center;
	color: #ffffff;
}

.center_writeups td{
	padding: 0.5em 0px;
}

.center tr:nth-child(even) {
  background-color: rgb(0,60,255);
}

.center tr:nth-child(odd) {
  background-color: rgb(30,30,30);
}

.rss_bottom{
	position: sticky;
	width: 100%;
	bottom: 0%;
	left: 0px;
}

.quote{
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: auto;
	padding:0px 5em;
}

table.center{
	margin-top: 3em;
	width: 50%;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	.navButtons a{
		color: #006EFF;
		font-size: 23px;
		text-decoration: none;
	}

	.pic{
		margin: auto;
		width: 15em;
		height: 15em;
		border-radius: 11em;
	}

	.wrapper i{
		transform: scale(4.5);
		margin: 2.8em;
		color: #ffffff;
	}

	.quote{
		color: #ffffff;
		font-size: 29px;
		font-weight: bold;
		text-align: center;
		margin: auto;
		padding:0px 4em;
	}

	.container h5{
		font-size: 25px;
	}

	.container h3{
		font-size: 40px;
		padding-top: 1.6em;
		color: #ffffff;
		font-family: 'Press Start 2P', cursive;
		font-weight: bold;
	}
	.rss_bottom{
	position: sticky;
	width: 100%;
	top: 100%;
	left: 0px;
	}
}

@media only screen 
  and (min-device-width: 390px) 
  and (max-device-width: 844px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	.navButtons a{
		color: #006EFF;
		font-size: 23px;
		text-decoration: none;
	}

	.pic{
		margin: auto;
		width: 15em;
		height: 15em;
		border-radius: 11em;
	}

	.wrapper i{
		transform: scale(4.5);
		margin: 2.8em;
		color: #ffffff;
	}

	.quote{
		color: #ffffff;
		font-size: 29px;
		font-weight: bold;
		text-align: center;
		margin: auto;
		padding:0px 4em;
	}

	.container h5{
		font-size: 25px;
	}

	.container h3{
		font-size: 40px;
		padding-top: 1.6em;
		color: #ffffff;
		font-family: 'Press Start 2P', cursive;
		font-weight: bold;
	}
	.rss_bottom{
	position: sticky;
	width: 100%;
	top: 100%;
	left: 0px;
	}
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 740px) 
  and (-webkit-min-device-pixel-ratio: 4) { 
  	.navButtons a{
		color: #006EFF;
		font-size: 23px;
		text-decoration: none;
	}

	.pic{
		margin: auto;
		width: 15em;
		height: 15em;
		border-radius: 11em;
	}

	.wrapper i{
		transform: scale(4.5);
		margin: 2.8em;
		color: #ffffff;
	}

	.quote{
		color: #ffffff;
		font-size: 29px;
		font-weight: bold;
		text-align: center;
		margin: auto;
		padding:0px 4em;
	}

	.container h5{
		font-size: 25px;
	}

	.container h3{
		font-size: 40px;
		padding-top: 1.6em;
		color: #ffffff;
		font-family: 'Press Start 2P', cursive;
		font-weight: bold;
	}
	.rss_bottom{
	position: sticky;
	width: 100%;
	top: 100%;
	left: 0px;
	}
}